* {
	margin: 0px;
}

.walkie{
    text-align: right;
}

img[alt="talkie"]{
    width: 140px;
   transform: translate(0%, 570%); 
}

img[alt="Bubble"]{
    width: 140px;
    transform: translate(50%, 570%); 
}

.next {
    color: black;
    border: 1px;
    border-color: blue;
    border-style: dotted;
    border-radius: 1px;
    width: 100px;
    right: 800px; 
}
