* {
	margin: 0px;
}

.walkie{
    text-align: right;
}

img[alt="talkie"]{
    width: 140px;
   transform: translate(0%, 570%); 
}

img[alt="Bubble"]{
    width: 140px;
    transform: translate(50%, 570%); 
}